@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300i,400,700,700i|Rochester');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
a, 
a:hover,
a:focus,
a:active{
	text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;/*
    font-family: 'Rochester', cursive;*/
}
/*reset end*/
.col-12{width:100%;}
.col-11{width:91.66%;}
.col-10{width:83.33%;}
.col-9{width:75%;}
.col-8{width:66.66%;}
.col-7{width:58.33%;}
.col-6{width:50%;}
.col-5{width:41.66%;}
.col-4{width:33.33%;}
.col-3{width:25%;}
.col-2{width:16.66%;}
.col-1{width:8.33%;}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1{
	float: left;
	padding-left:15px;
	padding-right: 15px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.line{
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.btn-theme{

}
.container{
	width:950px;
	margin:auto;
}
ul,ol{ list-style:none; }
/*========================||start Main part||=========*/

header{
	background:#4c5c67;
}
header .header{
	margin-top:50px;
}
header .header .logo{
	font-family: 'Rochester', cursive;
	font-size:30px;
	color:#fff;
}
header .header nav{}
header .header nav ul{ }
header .header nav ul li{
	display: inline;
	margin-left:10px;
	
}
header .header nav ul li a{ 
	color:#fff;
	padding-top:5px;
	

}
header .slider{}
header .slider .item{}
header .slider .item img{}
header .slider .item h1{}
header .slider .item p{}
header .slider .item .btn-group{}
header .slider .item .btn-group a{}
/*===========|| end Header zone||===========*/

.sponsor{}
.sponsor ul{}
.sponsor ul li{}
.sponsor ul li i{}

/*============|| end sponsor||================*/
.service{}
.service .single-service{}
.service .single-service i{}
.service .single-service h4{}
.service .single-service p{}
.service .single-service a{}
.service .single-service a.button-theme{}
/*==============|| end service zone||==============*/
.portfilo{}
.portfilo h3{}
.portfilo h3.tittle{}
.portfilo .single-portfilo{}
.portfilo .single-portfilo img{}

/*==============|| end portfilo||================*/

.blog{}
.blog h3{}
.blog h3 i{}
.blog .single-blog{}
.blog .single-blog a{}
.blog .single-blog a img{}
.blog .single-blog h4{}
.blog .single-blog p{}
.blog .single-blog p a{}
.blog .single-blog small{}
.blog a{}
.blog .single-twitter{}
.blog .single-twitter p{}
.blog .single-twitter p strong{}
.blog .single-twitter small{}
.blog .single-twitter small{}

/*============||end blog||============== */
footer{}
footer .footer{}
footer .footer .copy-right{}
footer .footer .socila{}
footer .footer .socila a{}
footer .footer .socila a i{}
footer .footer .socila a i.fa-facebook{background:;}
footer .footer .socila a i.fa-twitter{background:;}
footer .footer .socila a i.fa-linkedin{background:;}
footer .footer .socila a i.fa-dribble{background:;}

 



